 <div class="container py-6">
  <div class="my-3">
  </div>
    <h3>My dogs</h3>
    <%= link_to "Add dog", new_dog_path %>
    <div class="home-index-cards">
      <% @dogs.each do |dog| %>

        <div class="card" style="width: 18rem;">
          <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fit %>
          <div class="d-flex card-body justify-content-center">
            <h5 class="card-title "><%= dog.name %></h5>
          </div>
          <%= link_to "Go to profile", dog_path(dog), class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>
