 <div class="container py-6">
  <div class="my-3">
  </div>
    <h2 class="py-2">My dogs</h3>
    <%= link_to "Add dog", new_dog_path , class:"btn btn-outline-dark"%>
    <div class="d-flex home-index-cards">
      <% @dogs.each do |dog| %>
        <div class="card mx-3 dogs-index-card" style="width: 30rem;">
        <%= link_to dog_path(dog) do %>
          <%= cl_image_tag dog.photo.key, crop: :fit , class:"card-img-top dogs-index-card-img" do %>
          <% end %>
          <h5 class="card-title card-desc"><%= dog.name %></h5>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
