 <div class="container py-6">
  <div class="my-3">
  </div>
    <div class="home-index-cards">
      <% @dogs.each do |dog| %>
        <div>
            <div>
              <h5 class="card-title pt-2 text-cennoneter text-decoration-"><strong><%= link_to dog.name, dog_path(dog) %></strong></h5>
            </div>
            <%= link_to "New dog", new_dog_path if policy(Dog).new? %>
        </div>
      <% end %>
    </div>
</div>
