<footer class="footer">
  <div class="footer-links">
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Design by W<i class="fa-solid fa-paw"></i>lker
  </div>
</footer>
