<body>
<%# banner %>
  <div class="banner-landing">
    <div class="banner-content text-center">
      <h1>We walk the walk, and bark the bark</h1>
      <p>Become a walker!</p>
      <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
    </div>
  </div>

  <%# services %>

<section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">We provide exclusive service to each of our members</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-comments"></i>
                        </span>
                        <h4 class="my-3">Exclusive communication</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-location-dot"></i>

                        </span>
                        <h4 class="my-3">Follow your dog</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>

                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-handshake"></i>

                        </span>
                        <h4 class="my-3">Make a difference</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
            </div>
        </section>

  <%# Our team %>

  <section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row my-3">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/assets/beni.jpeg"" alt="..." />
                    <h4>Benito Yuchi</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="#!"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/assets/maki.jpeg" alt="..." />
                    <h4>Ryusei Makiguchi</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="#!"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/assets/vic2.jpeg" alt="Victor Sa" />
                    <h4>Victor Sa</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="#!"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/assets/edu.jpeg" alt="Eduardo Aguilar" />
                    <h4>Eduardo Aguilar</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="#!"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
        </div>
    </div>
  </section>
</div>
</body>
