.forbidden-container {
  background: #fff url("https://www.dropbox.com/s/0czxq7wr862we98/texture.jpg?raw=1") repeat 0 0;
  color: #fff;
  width: 100%;
  margin: auto
}


/* https://www.vecteezy.com/vector-art/237238-dog-family-colored-doodle-drawing */
.box {
  max-width: 70%;
  min-height: 600px;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: transparent url("https://wallpaperaccess.com/full/7871627.gif") ;
  background-size: cover;
}

.forbidden-title {
  margin: 0 0 1rem 0;
  font-size: 8em;
  text-shadow: 0 0 6px #8b4d1a;
}

.forbidden-text {
  margin-bottom: 0.5em;
  font-size: 1.75em;
  color: #ea8a1a;
}

.forbidden-text:first-of-type {
  margin-top: 16em;
  text-shadow: none;
}

.forbidden-text > a {
  border-bottom: 1px dashed #837256;
  font-style: italic;
  text-decoration: none;
  color: #837256;
}

.forbidden-text > a:hover { text-shadow: 0 0 3px #8b4d1a; }

.forbidden-text img { vertical-align: bottom; }

@media screen and (max-width: 600px) {
  .wrapper {
    background-size: 300px 114px;
    background-position: center top 22em;
    }

  .box {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: 320px 185px;
  }

  .forbidden-text:first-of-type { margin-top: 12em; }
}
