.chatroom {
  // background: gray;
  height: calc(90vh - 60px);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: black;
  }

  h3 {
    text-align: center;
    color:#727b83;
  }

  .messages {
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    image-url("chat.jpg");
    border-radius: 10px;
  }

  #new_message {
    border-top: 1px $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn{
    height: 37px;
    border-radius: 20px;
    margin-left: 5px;
    background-color: #f4f4f4;
    border-color: #ced4d9;
    color: #727b83;
  }

  .mesage {
    border-radius: 40px;
  }

}

// @media (max-width:320px)  { .chatroom {width: 100%} }
// @media (max-width:480px)  { .chatroom {width: 100%} }
@media (max-width:600px)  { .chatroom {width: 100%} }
@media (min-width:601px)  { .chatroom {width: 75%} }
@media (max-width:1000px)  { .chatroom {width: 75%} }
@media (min-width:1001px)  { .chatroom {width: 50%} }
