.card-img-top {
  width: 100%;
  height: 200px;
}

.dogs-index-card {
  margin: 10%;
  height: 40vh;
  position: relative;
  border-radius: 10px;
}

.dogs-index-card-img {
  width: 100%;
  height: 40vh;
  display: block;
  position: relative;
  border-radius: 10px;
}

.card-desc {
  border-radius: 10px;
  width: 100%;
  display: block;
  font-size: 2rem;
  position: absolute;
  height: 0;
  top: 0;
  color: black;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 0.8;
  height: 100.5%;
}

.dog-show-img{
  height: 500px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dogs-show-button-container{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
}


.dogs-show-card{
  border-radius: 10px;
}
