.dog-card-category {
  background-size: cover;
  background-position: center;
  height: calc(45vh - 60px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    image-url("whitie-banner.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h1 {
    color: white;
    font-size: 70px;
    font-family: $body-font;
    font-weight: lighter;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .btn {
    padding: 15px 50px;
    margin-top: 15px;
  }
}

.dogs-index-card {
  margin: 5% 50px;
  height: 50vh;
  width: 380px;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://media.istockphoto.com/photos/gray-doggy-tile-pattern-repeat-background-picture-id490747664?b=1&k=20&m=490747664&s=170667a&w=0&h=ca0K-dWeUfVBRk9nRwMmcsKXd-RStz_BbEXfJ-oTzdw=");
  background-position: center;
}

.dogs-button-container{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position:absolute;
  border-radius: 12px;
  right: 10px;
  top:10px;
  a{
    color:black;
  }
}

.dogs-index-card-img {
  width: 230px;
  top: 10%;
  height: 230px;
  display: block;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dog-index-text{
  width: 90%;
  position: absolute;
  bottom: 10px;
  color: black;
  margin: 0 auto;
  font-size: small;
  transform: translateX(-50%);
  left: 50%;
}

@media (max-width: 1000px) {
  .home-index-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
