.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 20px;
  padding: 8px;
  min-height: 80px;
  text-indent: 15px;
}

.sender-style {
  background-color: #aacdef;;
}

.receiver-style {
  background-color: rgb(187, 187, 15);
}



