.mini-map{
  opacity: 0.5;
  border-radius: 15px;
}

.zoom {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  // margin: 0;
  opacity: 0.5;
  // position: absolute;
  // left: 250px;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 1.0;
}