.mini-map{
  opacity: 0.5;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.zoom {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  opacity: 0.5;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 1.0;
}
