.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-picture{
  position: absolute;
  right: 10px;
}
