
.route-card{
	background-color: #fff;
	border:none;
	border-radius: 20px;
	width: 190px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  border-radius: 10px;
}

.btn-new {
  width: 100%;
}
